<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControleStockDAL.Properties.Settings.GSBConnectionString"
            connectionString="Data Source=tcp:301P17,1443;Initial Catalog=GSB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>