<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GSBControleStockage" connectionString="Data Source=tcp:301P17,1443;Initial Catalog=GSB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GSBControleStockage.Properties.Settings.GSBConnectionString"
      connectionString="Data Source=tcp:301P17,1443;Initial Catalog=GSB;Integrated Security=True"
      providerName="System.Data.SqlClient" />


  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>

